.dock-outer {
  margin: 0 0.5rem;
  display: flex;
  max-width: 100%;
}

@media (max-width: 640px) {
  .dock-outer {
  }
  
  .dock-panel {
    padding: 0.3rem;
    gap: 0.5rem;
  }
  
  .dock-item {
    width: 36px;
    height: 36px;
  }
  
  .dock-icon {
    width: 20px;
    height: 20px;
  }
}

.dock-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  gap: 1rem;
  border-radius: 1rem;
  background-color: #ffffff;
  border: 1px solid #222;
  padding: 0.5rem;
}

.dock-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.dock-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: #000000;
}

.dock-label {
  display: none;
}
